<form class="row g-3 needs-validation border p-3" novalidate [formGroup]="form">
  <div class="col-sm-12">
    <label for="name" class="form-label">Fisrt name</label>
    <input type="text" class="form-control" id="name" placeholder="Fisrt name" formControlName="name"
      [ngClass]="{ 'is-invalid': submitted && hasError('name') }" />
    <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')!['required']">
      Please enter a name.
    </div>
    <div class="invalid-feedback" *ngIf="hasError('name')! && hasError('name')!['minlength']">
      The name must be longer than 3 characters.
    </div>
    <div class="invalid-feedback" *ngIf="hasError('name')! && hasError('name')!['maxlength']">
      The name must be less than 250 characters.
    </div>
  </div>

  <div class="col-sm-12">
    <label for="last_name" class="form-label mt-3">Last Name</label>
    <input type="text" class="form-control" id="last_name" placeholder="Last Name" formControlName="last_name"
      [ngClass]="{ 'is-invalid': submitted && hasError('last_name') }" />
    <div class="invalid-feedback" *ngIf="hasError('last_name') && hasError('last_name')!['required']">
      Please enter a last name.
    </div>
    <div class="invalid-feedback" *ngIf="hasError('last_name') && hasError('last_name')!['minlength']">
      Last name must be longer than 3 characters.
    </div>
    <div class="invalid-feedback" *ngIf="hasError('last_name') && hasError('last_name')!['maxlength']">
      The last name must be less than 250 characters.
    </div>
  </div>
  
  <div class="col-sm-12">
    <label for="age" class="form-label mt-3">Age</label>
    <input type="text" class="form-control" id="age" placeholder="Age" formControlName="age"
      [ngClass]="{ 'is-invalid': submitted && hasError('age') }" />
    <div class="invalid-feedback" *ngIf="hasError('age') && hasError('age')!['required']">
      Please enter a age.
    </div>
    <div class="invalid-feedback" *ngIf="hasError('age') && hasError('age')!['minlength']">
      Age must be longer than 1 characters.
    </div>
    <div class="invalid-feedback" *ngIf="hasError('age') && hasError('age')!['maxlength']">
      The last name must be less than 4 characters.
    </div>
  </div>

  <div class="col-md-6">
    <button class="btn btn-primary mt-2 float-right btn-lg" (click)="onSubmit()">
      Enviar
    </button>
  </div>

  <div class="col-md-6">
    <button class="btn btn-info mt-2 btn-lg" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>